---
import { twMerge } from 'tailwind-merge';

type Props = astroHTML.JSX.AnchorHTMLAttributes;

const { class: className, ...props } = Astro.props;
---

<a
    class={twMerge(
        'rounded-sm outline-none transition focus-visible:text-zinc-900 focus-visible:ring-2 focus-visible:ring-zinc-900 focus-visible:ring-offset-4',
        className,
    )}
    {...props}
>
    <slot />
</a>
